.how-it-works-box {}

.img-box-how-it-works {
    padding: 40px 20px;
    background: #7a3145;
}

.img-how-it-works {
    border-radius: 30px;
    
}

.wrapper-how-it-works {}

.text-how-it-works {}

.how-it-works-list {}

.how-it-works-item {}